div.card {margin: 0px auto;}

body {background-color: #F8EDEB;}

div.container img {
    width: 100%;
    border-radius: 10%;
}
h2 {text-align: center;
}
h1 {text-align: center;
font-family: 'Alice', serif;}

div#sobremi {margin: 30px auto;
padding: 40px;
text-align: center;
}

div#contacto {text-align: center;
}